Repository hmcts/em-ccd-orchestrator, pull requests merged in 2019-11, with the labels that each got.

#156 Updated the respective URL's
  charts/em-ccd-orchestrator/Chart.yaml
  charts/em-ccd-orchestrator/values.yaml
Labels: ns:em-ccd-orchestrator-pr-156

#157 Add api version for helm chart
  charts/em-ccd-orchestrator/Chart.yaml
Labels: ns:em-ccd-orchestrator-pr-157

#168 Make alterations to complex yaml file as per the instructions given b…
  src/main/resources/bundleconfiguration/complex-example.yaml
Labels: ns:em-ccd-orchestrator-pr-168

#169 Rename field in complex yaml
  src/main/resources/bundleconfiguration/complex-example.yaml
Labels: ns:em-ccd-orchestrator-pr-169

#170 Added in lines to populate 2 attributes for bundle config
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactory.java
Labels: ns:em-ccd-orchestrator-pr-170

#175 revert move vaults to templates so perftest builds
  charts/em-ccd-orchestrator/Chart.yaml
  charts/em-ccd-orchestrator/values.aat.template.yaml
  charts/em-ccd-orchestrator/values.preview.template.yaml
  charts/em-ccd-orchestrator/values.yaml
Labels: ns:em-ccd-orchestrator-pr-175

#176 move vaults to templates so perftest builds
  charts/em-ccd-orchestrator/Chart.yaml
  charts/em-ccd-orchestrator/values.aat.template.yaml
  charts/em-ccd-orchestrator/values.preview.template.yaml
  charts/em-ccd-orchestrator/values.yaml
Labels: ns:em-ccd-orchestrator-pr-176

#172 bundle document sort order
  README.md
  docker-compose-dependencies.yml
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CcdHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/IdamHelper.java
  src/aat/resources/adv_bundling_functional_tests_ccd_def.xlsx
  src/aat/resources/documents-case.json
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactory.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfigurationSortOrder.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/endpoint/CcdStitchBundleCallbackController.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdDocument.java
  src/main/resources/bundleconfiguration/f-tests-12-sorting.yaml
  src/main/resources/bundleconfiguration/f-tests-13-sorting.yaml
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactoryTest.java
  src/test/resources/case-data2.json
Labels: ns:em-ccd-orchestrator-pr-172

#178 update ccd case dates and bundle factory date handling
  src/aat/resources/automated-case.json
  src/aat/resources/documents-case.json
  src/aat/resources/filename-case.json
  src/aat/resources/invalid-automated-case.json
  src/aat/resources/prehook-case.json
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactory.java
  src/test/resources/case-data2.json
  src/test/resources/case-one-eligible-one-not-eligible.json
  src/test/resources/case-one-eligible.json
  src/test/resources/case-one-not-eligible.json
  src/test/resources/case-two-eligible.json
  src/test/resources/case.json
  src/test/resources/documents-case.json
Labels: ns:em-ccd-orchestrator-pr-178

#177 em test helper
  build.gradle
  docker-compose-dependencies.yml
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingWithCallbacks.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdCloneScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdPrehookScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdStitchScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/TestSuiteInit.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/smoke/SmokeTest.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CcdHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CreateUserDto.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CreateUserRolesDto.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/Env.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/ExtendedCcdHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/HttpHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/IdamHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/S2sHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/TestUtil.java
  src/aat/resources/application.yml
  src/aat/resources/dm-text.csv
Labels: ns:em-ccd-orchestrator-pr-177

#179 check for null date
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactory.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactoryTest.java
  src/test/resources/case-data3.json
Labels: ns:em-ccd-orchestrator-pr-179

#180 fixes for manual bundle
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedStitchingExecutor.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactory.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/endpoint/StitchingCompleteCallbackController.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/orchestratorcallbackhandler/StitchingCompleteCallbackDto.java
  src/main/resources/bundleconfiguration/f-tests-1-flat-docs.yaml
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/orchestratorcallbackhandler/CcdCallbackBundleUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/orchestratorcallbackhandler/StitchingCompleteCallbackServiceTest.java
Labels: ns:em-ccd-orchestrator-pr-180
