Repository hmcts/em-ccd-orchestrator, pull requests merged in 2019-12, with the labels that each got.

#186 revert em-test helper integration
  build.gradle
  docker-compose-dependencies.yml
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingWithCallbacks.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdCloneScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdPrehookScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdStitchScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/TestSuiteInit.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/smoke/SmokeTest.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CcdHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CreateUserDto.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CreateUserRolesDto.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/Env.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/ExtendedCcdHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/HttpHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/IdamHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/S2sHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/TestUtil.java
  src/aat/resources/application.yml
  src/aat/resources/dm-text.txt
Labels: ns:em-ccd-orchestrator-pr-186

#187 update appl.yaml with appinsights
  charts/em-ccd-orchestrator/Chart.yaml
  charts/em-ccd-orchestrator/values.aat.template.yaml
  charts/em-ccd-orchestrator/values.preview.template.yaml
  charts/em-ccd-orchestrator/values.yaml
Labels: ns:em-ccd-orchestrator-pr-187

#188 Revert "revert em-test helper integration (#186)"
  build.gradle
  docker-compose-dependencies.yml
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingWithCallbacks.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdCloneScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdPrehookScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdStitchScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/TestSuiteInit.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/smoke/SmokeTest.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CcdHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CreateUserDto.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CreateUserRolesDto.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/Env.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/ExtendedCcdHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/HttpHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/IdamHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/S2sHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/TestUtil.java
  src/aat/resources/application.yml
  src/aat/resources/dm-text.csv
Labels: ns:em-ccd-orchestrator-pr-188

#189 Make yaml change for Jamil
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/main/resources/bundleconfiguration/f-tests-1-flat-docs.yaml
Labels: ns:em-ccd-orchestrator-pr-189

#191 Update yaml for sscs demo bundle as per Jamil request
  src/main/resources/bundleconfiguration/sscs-demo-bundle.yaml
Labels: ns:em-ccd-orchestrator-pr-191

#192 Changing paginationStyle for sscs yaml
  src/main/resources/bundleconfiguration/sscs-demo-bundle.yaml
Labels: ns:em-ccd-orchestrator-pr-192

#193 move vault back to templates
  charts/em-ccd-orchestrator/Chart.yaml
  charts/em-ccd-orchestrator/values.aat.template.yaml
  charts/em-ccd-orchestrator/values.preview.template.yaml
  charts/em-ccd-orchestrator/values.yaml
Labels: ns:em-ccd-orchestrator-pr-193
