Repository hmcts/em-ccd-orchestrator, pull requests merged in 2019-07, with the labels that each got.

#39 Em 1478 automated bundles with yummy yaml
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/aat/resources/automated-case.json
  src/aat/resources/invalid-automated-case.json
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/InvalidCaseException.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfigurationException.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfigurationFolder.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/ConfigurationLoader.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/LocalConfigurationLoader.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundleDTO.java
  src/main/resources/bundleconfiguration/example.yaml
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/LocalConfigurationLoaderTest.java
Labels: ns:em-ccd-orchestrator-pr-39

#41 ensure all properties are checked
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/JsonNodesVerifier.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/JsonNodesVerifierTest.java
Labels: ns:em-ccd-orchestrator-pr-41

#42 Add support for nested folders
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdStitchScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfigurationFolder.java
  src/main/resources/bundleconfiguration/example.yaml
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/LocalConfigurationLoaderTest.java
Labels: ns:em-ccd-orchestrator-pr-42

#40 Set filename
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdStitchScenarios.java
  src/aat/resources/filename-case.json
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfigurationFolder.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/endpoint/CcdStitchBundleCallbackController.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleStitchingService.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/InputValidationException.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundleDTO.java
  src/main/resources/bundleconfiguration/example-with-filename.yaml
  src/main/resources/bundleconfiguration/example.yaml
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/LocalConfigurationLoaderTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/endpoint/CcdStitchBundleCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleStitchingServiceTest.java
Labels: ns:em-ccd-orchestrator-pr-40

#43 valid cloned filename, and set default eligible values
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdCloneScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/exampleservice/ExampleBundlePopulator.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/financialremedyservice/FinancialRemedyBundlePopulator.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleCloningService.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleCloningServiceTest.java
Labels: ns:em-ccd-orchestrator-pr-43

#44 Create the case bundles property if it does not exist
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdaterTest.java
Labels: ns:em-ccd-orchestrator-pr-44

#46 Hook up configuration options
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundleDTO.java
Labels: ns:em-ccd-orchestrator-pr-46

#47 Exclude sub sub folders
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundleFolderDTO.java
  src/main/resources/bundleconfiguration/example.yaml
Labels: ns:em-ccd-orchestrator-pr-47

#49 Added yaml validation task
  README.md
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/CliApplication.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/command/ValidateYamlCommand.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/command/ValidateYamlCommandTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/endpoint/CcdCloneBundleControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/endpoint/CcdStitchBundleCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/endpoint/NewBundleControllerTest.java
Labels: ns:em-ccd-orchestrator-pr-49

#50 Update deps and owasp
  build.gradle
  config/owasp/dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:em-ccd-orchestrator-pr-50

#55 Em 1480 f tests
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/TestUtil.java
  src/aat/resources/documents-case.json
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactory.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/DocumentSelectorException.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfiguration.java
  src/main/resources/bundleconfiguration/f-tests-1-flat-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-10-invalid-doc-set-property.yaml
  src/main/resources/bundleconfiguration/f-tests-2-filter-flat-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-3-foldered-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-4-filtered-foldered-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-5-invalid-url.yaml
  src/main/resources/bundleconfiguration/f-tests-6-has-typo.yaml
  src/main/resources/bundleconfiguration/f-tests-7-not-a-single-doc.yaml
  src/main/resources/bundleconfiguration/f-tests-8-not-an-array.yaml
  src/main/resources/bundleconfiguration/f-tests-9-invalid-doc-property.yaml
  src/test/resources/documents-case.json
Labels: ns:em-ccd-orchestrator-pr-55

#51 Em 1480 document set configuration
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/TestUtil.java
  src/aat/resources/documents-case.json
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactory.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/DocumentSelectorException.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfigurationDocument.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfigurationDocumentSelector.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfigurationDocumentSet.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfigurationFolder.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/config/AutomatedCaseConfiguration.java
  src/main/resources/bundleconfiguration/example-with-documents.yaml
  src/main/resources/bundleconfiguration/f-tests-1-flat-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-10-invalid-doc-set-property.yaml
  src/main/resources/bundleconfiguration/f-tests-2-filter-flat-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-3-foldered-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-4-filtered-foldered-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-5-invalid-url.yaml
  src/main/resources/bundleconfiguration/f-tests-6-has-typo.yaml
  src/main/resources/bundleconfiguration/f-tests-7-not-a-single-doc.yaml
  src/main/resources/bundleconfiguration/f-tests-8-not-an-array.yaml
  src/main/resources/bundleconfiguration/f-tests-9-invalid-doc-property.yaml
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/LocalConfigurationLoaderTest.java
  src/test/resources/case-data1.json
  src/test/resources/case-data2.json
  src/test/resources/case-data3.json
  src/test/resources/documents-case.json
Labels: ns:em-ccd-orchestrator-pr-51

#56 Added character limit and updated functional testcase
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdStitchScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundleDTO.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleStitchingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/JsonNodesVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/example/ExampleBundlePopulatorTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/stitching/mapper/StitchingDTOMapperTest.java
Labels: ns:em-ccd-orchestrator-pr-56
