Repository hmcts/em-ccd-orchestrator, pull requests merged in 2019-05, with the labels that each got.

#32 add binary suffixes
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/StitchingService.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/stitching/StitchingServiceTest.java
Labels: ns:em-ccd-orchestrator-pr-32

#33 EM1464 - toggleable coversheets - don't override ccd ui values
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/endpoint/NewBundleController.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/dto/StitchingBundleDTO.java
Labels: ns:em-ccd-orchestrator-pr-33

#34 Fix serialization of stitching DTO, added test case
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdPrehookScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdStitchScenarios.java
  src/aat/resources/prehook-case.json
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/endpoint/CcdStitchBundleCallbackController.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/dto/StitchingBundleDTO.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/stitching/mapper/StitchingDTOMapperTest.java
Labels: ns:em-ccd-orchestrator-pr-34

#37 EM-1593 - stop building to prod
  Jenkinsfile_CNP
Labels: ns:em-ccd-orchestrator-pr-37
