Repository hmcts/em-ccd-orchestrator, pull requests merged in 2019-10, with the labels that each got.

#78 Add aadIdentityName to values.yaml
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  charts/em-ccd-orchestrator/Chart.yaml
  charts/em-ccd-orchestrator/requirements.yaml
  charts/em-ccd-orchestrator/values.preview.template.yaml
  charts/em-ccd-orchestrator/values.yaml
  config/owasp/dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingWithCallbacks.java
  src/main/resources/application.yaml
  web.config
Labels: ns:em-ccd-orchestrator-pr-78

#97 Bundle id relax
  charts/em-ccd-orchestrator/values.yaml
  config/owasp/dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactory.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/CallbackUrlCreator.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundleDTO.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/CallbackUrlCreatorTest.java
Labels: ns:em-ccd-orchestrator-pr-97

#66 Added in changes for pageNumberFormat
  config/owasp/dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/domain/enumeration/PageNumberFormat.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/dto/StitchingBundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/mapper/StitchingDTOMapper.java
  src/main/resources/bundleconfiguration/example-with-documents.yaml
  src/main/resources/bundleconfiguration/example-with-filename.yaml
  src/main/resources/bundleconfiguration/example.yaml
  src/main/resources/bundleconfiguration/f-tests-1-flat-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-10-invalid-doc-set-property.yaml
  src/main/resources/bundleconfiguration/f-tests-2-filter-flat-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-3-foldered-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-4-filtered-foldered-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-5-invalid-url.yaml
  src/main/resources/bundleconfiguration/f-tests-6-has-typo.yaml
  src/main/resources/bundleconfiguration/f-tests-7-not-a-single-doc.yaml
  src/main/resources/bundleconfiguration/f-tests-8-not-an-array.yaml
  src/main/resources/bundleconfiguration/f-tests-9-invalid-doc-property.yaml
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactoryTest.java
Labels: ns:em-ccd-orchestrator-pr-66

#108 Checking the imports
  config/owasp/dependency-check-suppressions.xml
  src/aat/resources/adv_bundling_functional_tests_ccd_def.xlsx
  src/aat/resources/adv_bundling_functional_tests_ccd_def_aat.xlsx
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/mapper/StitchingDTOMapper.java
Labels: ns:em-ccd-orchestrator-pr-108

#65 EM-2142: Set up pagination style enum
  .gitignore
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundlePaginationStyle.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/dto/StitchingBundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/mapper/StitchingDTOMapper.java
  src/main/resources/bundleconfiguration/example-with-documents.yaml
  src/main/resources/bundleconfiguration/example-with-filename.yaml
  src/main/resources/bundleconfiguration/example.yaml
  src/main/resources/bundleconfiguration/f-tests-1-flat-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-10-invalid-doc-set-property.yaml
  src/main/resources/bundleconfiguration/f-tests-2-filter-flat-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-3-foldered-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-4-filtered-foldered-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-5-invalid-url.yaml
  src/main/resources/bundleconfiguration/f-tests-6-has-typo.yaml
  src/main/resources/bundleconfiguration/f-tests-7-not-a-single-doc.yaml
  src/main/resources/bundleconfiguration/f-tests-8-not-an-array.yaml
  src/main/resources/bundleconfiguration/f-tests-9-invalid-doc-property.yaml
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactoryTest.java
Labels: ns:em-ccd-orchestrator-pr-65

#109 EM-2142: Update complex type table in ccd def spreadsheet
  src/aat/resources/adv_bundling_functional_tests_ccd_def.xlsx
  src/aat/resources/adv_bundling_functional_tests_ccd_def_aat.xlsx
Labels: ns:em-ccd-orchestrator-pr-109

#110 Updated spreadsheet with the values
  src/aat/resources/adv_bundling_functional_tests_ccd_def.xlsx
  src/aat/resources/adv_bundling_functional_tests_ccd_def_aat.xlsx
Labels: ns:em-ccd-orchestrator-pr-110

#96 ftest fix
  Jenkinsfile_CNP
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingWithCallbacks.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdCloneScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdPrehookScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdStitchScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/CcdHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/Env.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/testutil/IdamHelper.java
  src/aat/resources/~$adv_bundling_functional_tests_ccd_def.xlsx
Labels: ns:em-ccd-orchestrator-pr-96

#112 add aat callback
  charts/em-ccd-orchestrator/values.aat.template.yaml
Labels: ns:em-ccd-orchestrator-pr-112

#128 Upgrade jackson dependencies
  build.gradle
  docker-compose-dependencies.yml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/LocalConfigurationLoader.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/ccdcallbackhandler/CcdCallbackDtoCreatorTest.java
Labels: ns:em-ccd-orchestrator-pr-128

#127 Asyn stitching
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdStitchScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedStitchingExecutor.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleStitchingService.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedStitchingExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleStitchingServiceTest.java
Labels: ns:em-ccd-orchestrator-pr-127

#135 Improved status
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/AutomatedBundlingWithCallbacks.java
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/functional/CcdStitchScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedStitchingExecutor.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleStitchingService.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/StitchingService.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/dto/DocumentTaskDTO.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedStitchingExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleStitchingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/stitching/StitchingServiceTest.java
Labels: ns:em-ccd-orchestrator-pr-135

#144 Add pagination and page number format to complex yaml
  src/main/resources/bundleconfiguration/complex-example.yaml
Labels: ns:em-ccd-orchestrator-pr-144

#136 EM-2193: Configure CCD Orchestrator to pass case details to stitching…
  src/aat/resources/adv_bundling_functional_tests_ccd_def.xlsx
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/AutomatedCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactory.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/configuration/BundleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/ccdcallbackhandler/CcdCallbackDto.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/ccdcallbackhandler/CcdCallbackDtoCreator.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/dto/CcdBundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/dto/StitchingBundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/stitching/mapper/StitchingDTOMapper.java
  src/main/resources/bundleconfiguration/complex-example.yaml
  src/main/resources/bundleconfiguration/example-with-documents.yaml
  src/main/resources/bundleconfiguration/example-with-filename.yaml
  src/main/resources/bundleconfiguration/example.yaml
  src/main/resources/bundleconfiguration/f-tests-1-flat-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-10-invalid-doc-set-property.yaml
  src/main/resources/bundleconfiguration/f-tests-11-multiple-filters.yaml
  src/main/resources/bundleconfiguration/f-tests-2-filter-flat-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-3-foldered-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-4-filtered-foldered-docs.yaml
  src/main/resources/bundleconfiguration/f-tests-5-invalid-url.yaml
  src/main/resources/bundleconfiguration/f-tests-6-has-typo.yaml
  src/main/resources/bundleconfiguration/f-tests-7-not-a-single-doc.yaml
  src/main/resources/bundleconfiguration/f-tests-8-not-an-array.yaml
  src/main/resources/bundleconfiguration/f-tests-9-invalid-doc-property.yaml
  src/main/resources/bundleconfiguration/sscs-demo-bundle.yaml
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/automatedbundling/BundleFactoryTest.java
Labels: ns:em-ccd-orchestrator-pr-136

#145 Removed scala related code
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/performance/HttpConfiguration.scala
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/performance/NpaLoad.scala
  src/aat/java/uk/gov/hmcts/reform/em/orchestrator/performance/NpaSmoke.scala
  src/aat/resources/conf/logback.xml
Labels: ns:em-ccd-orchestrator-pr-145

#146 EM-2242: Add coverpage template data when async bundling
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/AsyncCcdBundleStitchingService.java
  src/main/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleStitchingService.java
Labels: ns:em-ccd-orchestrator-pr-146

#143 gradle upgrade to 5.6.3
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/test/java/uk/gov/hmcts/reform/em/orchestrator/service/caseupdater/CcdBundleCloningServiceTest.java
Labels: ns:em-ccd-orchestrator-pr-143

#149 Update template for cover page in complex yaml file
  src/main/resources/bundleconfiguration/complex-example.yaml
Labels: ns:em-ccd-orchestrator-pr-149

#140 EM-2238 add api version to chart
  charts/em-ccd-orchestrator/Chart.yaml
Labels: ns:em-ccd-orchestrator-pr-140

#151 Removed alias related lines
  charts/em-ccd-orchestrator/Chart.yaml
  charts/em-ccd-orchestrator/requirements.yaml
  charts/em-ccd-orchestrator/values.aat.template.yaml
  charts/em-ccd-orchestrator/values.preview.template.yaml
  charts/em-ccd-orchestrator/values.yaml
Labels: ns:em-ccd-orchestrator-pr-151
