Repository hmcts/em-ccd-orchestrator, pull requests merged in 2019-09, with the labels that each got.

#60 Update java repo and dependencies
  Dockerfile
  config/owasp/dependency-check-suppressions.xml
  docker-compose-dependencies.yml
  infrastructure/ithc.tfvars
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  web.config
Labels: ns:em-ccd-orchestrator-pr-60

#59 sidam pact
  build.gradle
  pacts/em_ccd_orchestrator-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/em/orchestrator/IdamConsumerTest.java
Labels: ns:em-ccd-orchestrator-pr-59

#61 Replaced the vault_uri with key_vault_id
  charts/em-ccd-orchestrator/Chart.yaml
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:em-ccd-orchestrator-pr-61

#62 Updated idam URL, added in DNS value and removed unused function
  Jenkinsfile_CNP
  infrastructure/prod.tfvars
Labels: ns:em-ccd-orchestrator-pr-62
